* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #301d0ad6;
}

/* Header */
header {
    background-color: #301d0af3;
    color: #fff;
    padding: 1rem;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    font-variant: small-caps;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

nav .nav-links a:hover {
    background-color: #543415c6;
    border-radius: 5px;
}

.logo img {
    width: clamp(50px, 10vw, 150px);
    height: auto;
    border-radius: 100%;
    margin: 1rem;
}

/* hero */
.premium-broom {
    background: url("https://cinereplicas.com/cdn/shop/products/Firebolt-Broom-HarryPotter-Lifestyle_1-4895205604162.jpg?v=1669346623") no-repeat center center/cover;
    color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.Pbroom-content h1 {
    font-size: clamp(2rem, 4vw, 3rem);
}

.Pbroom-content p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    margin: 1rem 6rem;
}

.standardBroom1, .standardBroom2 {
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.standardBroom1 p, .standardBroom2 p {
    margin: 1rem 5rem;
}

.standardBroom1 {
    background: url("https://cinereplicas.com/cdn/shop/products/Nimbus2000-HarryPotter-Product-_7.jpg?v=1566467899") no-repeat center center/cover;
}

.standardBroom2 {
    background: url("https://cinereplicas.com/cdn/shop/files/Collectible-Nimbus2000Junior-Lifestyle_1-4895205613249.jpg?v=1690275052") no-repeat center center/cover;
}
.standardBroom1 h2, .standardBroom2 h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}

.standardBroom1 p, .standardBroom2 p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #301d0af3;
    color: white;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

@media (min-width: 768px) {

    nav .nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .hero {
        height: 70vh;
    }

    .standardBrooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .standardBroom1 {
        margin-right: 0.5rem;
    }
}