* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #301d0ad6;
}

/* Header */
header {
    background-color: #301d0af3;
    color: #fff;
    padding: 1rem;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    font-variant: small-caps;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 2.1rem);
}

nav .nav-links a:hover {
    background-color: #543415c6;
    border-radius: 5px;
}

.logo img {
    width: clamp(50px, 10vw, 150px);
    height: auto;
    border-radius: 100%;
    margin: 1rem;
}

/* hero */
.hero {
    background: url("https://images.ctfassets.net/usf1vwtuqyxm/6Gzse6POsjfDglvExppFau/045ebd637578a6a22b21d33b39f502a8/golden-snitch_4_1800x1248.png") no-repeat center center/cover;
    color: white;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.hero h1 {
    font-size: clamp(2rem, 4vw, 3rem);
}

.hero p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    margin: 1rem 5.5rem;
}

button {
    background-color: #301d0af3;
    color: rgb(227, 227, 227);
    padding: 0.5rem;
    border-radius: 18%;
}

.quidditch {
    padding: 2rem;
    margin: 1.5rem 0;
}

.quidditch h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1rem;
    color: rgb(223, 223, 223);
}

.quidditch p {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    margin-top: 0.5rem;
    color: rgb(223, 223, 223);
}

.expect {
    margin-top: 3rem;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #301d0af3;
    color: white;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

@media (min-width: 768px) {

    nav .nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}