* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #301d0ad6;
}

/* Header */
header {
    background-color: #301d0af3;
    color: #fff;
    padding: 1rem;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    font-variant: small-caps;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

nav .nav-links a:hover {
    background-color: #543415c6;
    border-radius: 5px;
}

.logo img {
    width: clamp(50px, 10vw, 150px);
    height: auto;
    border-radius: 100%;
    margin: 1rem;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #301d0af3;
    color: white;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

@media (min-width: 768px) {

    nav .nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}