* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #301d0ad6;
}


/* Header */
header {
    background-color: #301d0af3;
    color: #fff;
    padding: 1rem;
}


/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .nav-links {
    font-variant: small-caps;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


nav .nav-links li {
    list-style: none;
}


nav .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 2.1rem);
}


nav .nav-links a:hover {
    background-color: #543415c6;
    border-radius: 5px;
}


.logo img {
    width: clamp(50px, 10vw, 150px);
    height: auto;
    border-radius: 100%;
    margin: 1rem;
}


/* Sections */
section {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

/* Headings */
h2 {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1rem;
    color: rgb(223, 223, 223);
}

/* Wands and Potions styles */
.wands, .potions {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
}

/* Articles container */
.articles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Article styles */
article {
    background-color: #301d0af3;
    padding: clamp(1rem, 2vw, 1.5rem);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-style: italic;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

article p {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    margin-top: 0.5rem;
    color: rgb(223, 223, 223)
}

article:hover {
    transform: translateY(-5px);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #301d0af3;
    color: white;
    font-size: clamp(0.9rem, 2vw, 1rem);
}


/* Media queries for tablets and larger screens */
@media (min-width: 768px) {

    nav .nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .wands, .potions {
        display: flex;
        flex-direction: column;
    }

    .articles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    article img {
        width: clamp(300px, 26vw, 500px);
    }
}